body{
  background-color: #66e0ff;
}

header{
  background: #F6F7FA; font color: #000000;
}

h1{
  text-align: center; font color: #400FF0; size: 4.5;
}
body{
  background-color: #68FAE6; float: left;
}
p.one {
  font-family: "Arial";
}
img.image1 {
  width: 20%;
  height: 20%;
  alt: "Anime characters";
  align: center;
}
img.image2 {
  alt: "Anime characters";
  width: 20%;
  height: 20%;
  float: right;
}
p.two {
  font-family: "Times New Roman"; 
  font color: #FF0000;
  border-style: solid;
  font-weight: bold;
}
p.three {
  font-family: "arial";
  font color: #0000CD;
  font-style: italic
}
h2{
  text-align: center;
}
