body{
  background-color: #66e0ff;
}

header{
  background: #F6F7FA; font color: #000000;
}

h1{
  text-align: center; font color: #400FF0; size: 4.5;
}
p.one {
  font-family: Arial;
}
p.two {
  font-family: Times New Roman; 
  font-color: #C519E3;
  border-width: 2px;
  font-weight: bold;
}
p.three {
  font-family: arial;
  font-color: #FF311E;
  font-style: italic
}
h2{
  text-align: center;
}

body{
  background-color: #68FAE6; float: left;
